*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --grid-border: #466fe0;
  --cell-bg: #faffff;
  --target-glow: rgb(71, 83, 255);
  --shadow-color: 0deg 0% 45%;
  --game-button-shadow: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.63),
    0px 1.4px 1.3px -0.5px hsl(var(--shadow-color) / 0.58),
    -0.1px 2.9px 2.7px -1.1px hsl(var(--shadow-color) / 0.53),
    -0.1px 5.6px 5.3px -1.6px hsl(var(--shadow-color) / 0.47),
    -0.2px 10.1px 9.5px -2.1px hsl(var(--shadow-color) / 0.42),
    -0.3px 17.2px 16.1px -2.7px hsl(var(--shadow-color) / 0.37),
    -0.5px 27.7px 26px -3.2px hsl(var(--shadow-color) / 0.32),
    -0.8px 42.2px 39.6px -3.7px hsl(var(--shadow-color) / 0.26);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.attack {
  pointer-events: auto;
  opacity: 1;
}

.computer-attack {
  pointer-events: none;
  opacity: 1;
}

/* ---------------- Main Section ------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  margin-top: 2%;
}

/* ------ Message ------- */

.message {
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.882);
  background-color: rgb(46, 94, 218);
  font-size: 18px;
  padding: 10px;
}

/* Random button */
.random-button {
  border: none;
  border-radius: 50%;

  color: rgba(255, 255, 255, 0.907);
  background-color: rgb(0, 58, 193);
  box-shadow: var(--game-button-shadow);

  padding: 55px 20px;
  margin-bottom: 60px;
  font-size: 15px;

  cursor: pointer;

  user-select: none;

  transition:
    background-color 0.2s,
    color 0.2s;
}

.random-button:hover {
  color: rgb(0, 58, 193);
  background-color: white;
  outline: 2px solid rgb(0, 58, 193);
}

.random-button-click {
  animation: press-down 0.25s;
}

@keyframes press-down {
  0% {
    box-shadow: var(--game-button-shadow);
  }
  80% {
    margin-top: 10px;
    box-shadow: none;
  }
  100% {
    box-shadow: var(--game-button-shadow);
  }
}

/* --------------- Game Boards -------------- */
.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.player-name {
  font-size: 1.4rem;
}

.grid {
  width: 400px;
  height: 400px;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  border: 3px solid var(--grid-border);
  margin: 0 auto;

  cursor: url("./icon/target-icon.png"), auto;
}

.cell {
  display: grid;
  place-items: center;
  background-color: var(--cell-bg);
  outline: 1px solid var(--grid-border);
}

.ship {
  background-color: #2660ff;
}

.target-cell {
  z-index: 1;
  animation: glow 0.216s infinite alternate;
}

/* Attacked cells */
.cell.empty-attack {
  background-color: rgb(174, 174, 174);
}

.cell.ship-attack {
  background-color: rgb(231, 62, 62);
}

.empty-attack,
.ship-attack {
  opacity: 0.7;
  pointer-events: none;
  user-select: none;
}

@keyframes glow {
  from {
    box-shadow: 0 0 3px -3px var(--target-glow);
  }
  to {
    border-radius: 3px;
    box-shadow: 0 0 3px 3px var(--target-glow);
  }
}

/* --------- Game Start Menu ------------  */

.input-group {
  position: absolute;
  left: calc(50% - 140px);
  top: 20%;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 240px;
  justify-content: center;
  gap: 25px;

  width: 280px;

  padding-top: 15px;
  padding-bottom: 15px;

  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hide-animation {
  opacity: 0;
  animation: hide 2s;
}

.show-animation {
  opacity: 1;
  animation: hide 2s reverse;
}

@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.input-group input[type="text"] {
  outline: 1px solid rgb(149, 149, 149);
  border: none;
  border-radius: 5px;

  padding: 5px;

  transition: outline 0.2s;
}

.input-group input[type="text"]:focus {
  outline: 1px solid blue;
}

.input-group > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-group {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 25px;
}

label[for="computer-mode"] {
  display: flex;
  gap: 10px;
}

label[for="computer-mode"] input {
  width: 20px;
}

.menu-button {
  border-radius: 7px;
  border: none;

  width: 190px;

  padding: 8px 20px;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}

.start-button {
  background-color: #5adbb5;
}

.computer-button {
  background-color: #55c2da;
}

.start-button:hover {
  background-color: #4ebd9b;
}

.computer-button:hover {
  background-color: #459caf;
}
